.online-container{
    padding-top: 25px;
    padding-bottom: 30px;
}
.online-title{
    width: 90%;
    margin: auto;
    height: 70px;
    left: 5;
    color: white;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    align-items: center;

    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#00b09b, #96c93d );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00b09b, #96c93d ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.Banner > img{
    width: 100%;
}
.online-consult > div{
    width: 98%;
    margin: auto;
}
.online-consult > div > ul {
 display: flex;
 flex-direction: row;
 gap: 0px;
 justify-content: flex-start;
 align-items: flex-start;
}
.online-consult > div > ul > li{
    width: 90%;
}

.online-consult > div > ul > li > div:nth-child(1) {
    margin: 50px 50px 30px 50px;
}
.online-consult > div > ul > li > div:nth-child(2){
    text-align: center;
    padding-top: 5px;
}
.online-consult > div > ul > li > div:nth-child(2) > span:nth-child(2){
    color: blue;
    padding-top: 3px;
}

.online-action{
  
   
   
   
}



.online-action {
    border: 2px solid currentColor;
    border-radius: 1rem;
    color: #26B683;
    font-family: roboto;
    width: 60%;
    margin: auto;
    cursor: pointer;
    
    font-weight: 100;
    overflow: hidden;
    color: white;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  .online-action::after {
    background-color: #26B683;
    border-radius: 1rem;
    color: white;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  .online-action:hover::after {
    transform: translate(0, 0);
  }
  .online-action:hover {
    border: 2px solid transparent;
    color: #4b0082;
    transform: scale(1.05);
    will-change: transform;
  }


.online-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
